* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

html,
body {
    height: 100%;
    width: 100%;
  
}

section{
    height: 100%;
    width: 100%;
    position: relative;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 70px;
}
nav h1 i{
   display: inline-block;
   rotate: 45deg;
}

.part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

nav h1{
    font-size: 35px;
   
}

nav h4{
    font-size: 20px;
    font-weight: 500;
}

nav button{
    padding: 15px 20px;
    font-size: 20px;
    background-color: transparent;
    border-radius: 10px;
    font-weight: 600;
    border: 1px solid black;
}
.center{
    background-color: red;
    height: 85%;
    width: 100%;
    display: flex;
}
.center-part1{
 
    height: 100%;
    width: 50%;
}
.center-part2{
   
    height: 100%;
    width: 50%;
}