* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

html,
body {
    height: 100%;
    width: 100%;

}

section {
    height: 100%;
    width: 100%;
    position: relative;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 100px;
}

nav h1 i {
    display: inline-block;
    rotate: 45deg;
}

.part2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

nav h1 {
    font-size: 35px;

}

nav h4 {
    font-size: 20px;
    font-weight: 500;
}

nav button {
    padding: 15px 20px;
    font-size: 20px;
    background-color: transparent;
    border-radius: 10px;
    font-weight: 600;
    border: 1px solid black;
}

.center {
    padding: 40px 100px;
    height: 80%;
    width: 100%;
    display: flex;
}

.center-part1 {

    height: 100%;
    width: 44%;
  
}

.center-part1 h1 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 68px;
    line-height: 1.2;
    font-weight: 400;
 
}
.center-part1 p{
    font-size:25px ;
    width: 95%;
    margin-top: 30px;
    margin-bottom: 15px;
}
.center-part1 button{
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 20px;
  font-weight: 600;
  border: none;
}

.center-part2 {
   position: relative;
    height: 100%;
    width: 56%;
}

.center-part2 img{
    position: absolute;
    height: 100%;
    right: 0;
}